// Pager
//
// Paged navigation is a list of page numbers when more than 1 page of content
// is available.
//
// Markup: pager.twig
//
// Style guide: navigation.pager

%pager {
  @extend %print-none;
  border-radius: 0;
  clear: both;
  display: inline block;
  line-height: 20px;
  margin: 20px 0;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    list-style-type: none;
    padding: 0;

    > a {
      @extend %button;
      margin: 0 2px;
      min-width: 34px;
      padding: 6px;
      text-align: center;
    }
  }

  &__current-item {
    @extend %button;
    @extend %button.active;
    cursor: default;
    margin: 0 2px;
    min-width: 34px;
    padding: 6px;
    text-align: center;
  }
}

.pager {
  @extend %pager;

  > li {
    @extend %pager__item;

    &.pager-current {
      @extend %pager__current-item;
    }

    &.pager-first,
    &.pager-previous,
    &.pager-last,
    &.pager-next {
      > a {
        padding: 6px 24px;
        border-radius: 0;
      }
    }
  }
}

//
// Drupal selectors.
//

// .pager-item     - A list item containing a page number in the list of pages.
// .pager-first    - The first page's list item.
// .pager-previous - The previous page's list item.
// .pager-next     - The next page's list item.
// .pager-last     - The last page's list item.
// .pager-ellipsis - A concatenation of several list items using an ellipsis.

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  @extend %pager__item;
}

.pager-current {
  @extend %pager__current-item;
}
