.region-banner,
.region-minister {
  .block {
    // Set these blocks to have no bottom margin, since the layout container
    // already applies it.
    margin-bottom: 0;
  }
}

.highlighted {
  background-color: color(alternate-bg);
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 1px solid color(border);
  border-top: 1px solid color(border);

  .lt-ie9 & .region {
    padding-left: 20px;
  }

  .block {
    margin: 0;
  }
}

.block.feature {
  width: 300px;
  margin: 0 auto 20px;

  a:visited {
    color: color(link);
  }

  a:hover,
  a:focus {
    color: color(link-hover);
  }
}

.layout-3col__left-sidebar .block .view.view-home-slider {
  padding: 0;
}

.view {
  .feature {
    background-color: color(text-bg);
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid color(border);
    width: 100%;
    max-width: 300px;

    a:visited {
      color: color(link);
    }

    .region-minister & {
      height: 323px;
      margin-bottom: 0;
    }

    img {
      border: 1px solid color(border);

      // Help size service card images on page load.
      @include respond-to('xl') {
        .page-services &,
        .page-topics & {
          min-height: 78px;
          min-width: 276px;
        }
      }
    }

    a:hover img {
      border: 1px solid color(link-hover);
    }

    h3 {
      margin-top: 5px;
      text-align: left;
    }
  }

  // Apply flex-box column view to specific areas for now until generic flex
  // grid can be developed.
  .region-highlighted &,
  &.view-services {
    .view-content {
      @include respond-to('m') {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
      }

      .feature {
        height: auto;

        // Margins need to be defined explicitly to get flex box items to
        // align left using `flex-start` above.
        @include respond-to('m') {
          width: 31%;
          min-width: 236px;
          margin-left: 1%;
          margin-right: 1%;
        }

        @include respond-to('xl') {
          width: 300px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}

// All pages and specific page views need blocks reset here. Margin is already
// added to each of the feature classes, so bottom removed from the block here.
#block-views-home-slider-block-4,
#block-views-home-slider-block-5,
.all-page-feature {
  border: none;
  padding: 0;
  margin-bottom: 0;
}

.all-page-feature {
  .views-row {
    width: 100%;
  }
}

// Home Bottom Left feature block needs some additional config below. This is
// used in very few places, but Aurora Transformation is a good example.
#block-views-home-slider-block-3 {
  max-width: 300px;
}

.block .feature-block {
  padding: 10px;

  img {
    border: 1px solid color(border);
  }

  a:hover img {
    border: 1px solid color(link-hover);
  }

  h3 {
    margin-top: 5px;
    text-align: left;
  }
}

.front {
  a:hover img {
    border: 0;
  }
}

.region-highlighted,
.region-highlighted-bottom {
  padding-bottom: 0;
  padding-top: 20px;
  @include clearfix();
}
