// styles for TOC
.toc-filter-back-to-top.first {
  display: none;
}

div.toc-filter-back-to-top {
  @include clearfix();
  padding-top: 0.5em;
  margin: 1em 0;

  // Fix for bug with translation caching issue of 'Back to Top' text in the
  // `toc_filter` module.
  // @TODO Remove this fix once the module gets fixed properly.
  a {
    display: block;
    line-height: 0;
    text-indent: -9999px;

    &::after {
      // Include English content first, in case the French is cached.
      content: 'Back to top';
      display: block;
      line-height: normal;
      text-indent: 0;

      // Change content on French pages.
      .i18n-fr & {
        content: 'Retour au haut de la page';
      }
    }
  }
}

// Offset any bookmark anchors for the TOC filter to leave space at the top of
// the page when scrolled-to. When the fixed, collapsed menu is present on
// mobile/tablets, give it extra space to get past the menu height of 50px.
a.toc-bookmark,
a[name='top'] {
  display: block;
  position: relative;
  visibility: hidden;

  // H2 anchors should match the default H2 margin of 25px.
  h2 & {
    top: -75px;

    @include respond-to('xl') {
      top: -25px;
    }
  }

  // H3 anchors should match the default H3 margin of 20px.
  h3 & {
    top: -70px;

    @include respond-to('xl') {
      top: -20px;
    }
  }

}

// Top anchor needs offset on mobile for fixed menu, but not on desktop.
a[name='top'] {
  top: -50px;

  @include respond-to('xl') {
    top: 0;
  }
}
