.field-name-field-image-caption {
  text-align: center;
  font-size: 12px;
  line-height: 13px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: color(grey-super-light);
}
.file-image {
  margin-bottom: 10px;
  img {
    vertical-align: bottom;
    margin-bottom: 0;
  }
}