/* GNWT Slider */

/* view-home#views_slideshow_cycle_div_home_slider-block_1 */
.views_slideshow_cycle_main {
  width: 100%;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}

.views_slideshow_cycle_main .field-content img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
}

.region-banner .view-home-slider {
  max-width: 620px;
  width: 100%;
  background: color(button-bg);

  .view-content {
    position: relative;
  }

  .views_slideshow_cycle_main,
  .views_slideshow_cycle2_main {
    .views-field-field-slider-image {
      overflow: hidden;
      line-height: 0;
      border: 1px solid color(border);
      border-bottom: 0;

      a {
        line-height: 0;
        text-decoration: none;
        height: 100%;
        width: 100%;
      }

      img {
        display: block;
        margin: 0;
        width: auto;
        vertical-align: bottom;
      }
    }
  }

  .views-field-title {
    width: 100%;
    border-top: 5px solid color(brand-highlight);
    background: color(button-bg);

    h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
      height: 42px;
      overflow: hidden;
      margin: 0;
      padding: 0 13px;
      color: color(button);

      a {
        color: color(button);
        text-decoration: none;
      }
    }
  }

  .views-slideshow-controls-bottom {
    .views-slideshow-pager-fields {
      position: absolute;
      width: 200px;
      text-align: right;
      top: 10px;
      right: 10px;
      z-index: 200;

      .views-slideshow-pager-field-item {
        display: inline-block;
        margin-left: 10px;
        background: color(button);
        width: 19px;
        height: 19px;
        border-radius: 20px;

        border: 2px solid color(button-bg);
        text-indent: 10000em;
        overflow: hidden;
        cursor: pointer;

        &.cycle-pager-active {
          background: color(button-bg);
          border: 2px solid color(button);
        }
      }
    }

    .views-slideshow-controls-text {
      position: absolute;
      z-index: 100;
      right: 10px;
      top: 230px;

      span {
        &.views-slideshow-controls-text-pause a {
          padding: 5px 5px 6px;
          display: block;
          font-size: 20px;
          float: right;
          color: color(button-bg);
          text-decoration: none;
          background-color: color(button);
          line-height: 1em;
          text-align: center;
          border: 2px solid color(button-bg);
          border-radius: 5px;
          font-family: $arial;
        }

        &.views-slideshow-controls-text-previous a,
        &.views-slideshow-controls-text-next a {
          display: none;
        }

        a:hover,
        a:focus {
          border: 2px solid color(button-active);
        }
      }
    }
  }
}

.views-slideshow-controls-text-status-pause .glyphicon {
  @extend .glyphicon-play;
  &::before {
    font-size: 18px;
    padding: 0 5px 0 0;
  }
}

.views-slideshow-controls-text-status-play .glyphicon {
  @extend .glyphicon-pause;
  &::before {
    font-size: 19px;
  }
}