<div class="layout-3col">

  <div class="layout-3col__col-1">
    <div class="progress-linear {{modifier_class}} progress-linear-33">
      <div class="overlay">66 of 200 completed</div>
    </div>
  </div>

  <div class="layout-3col__col-2">
    <div class="progress-linear {{modifier_class}} progress-linear-55">
      <div class="overlay">110 of 200 completed</div>
    </div>
  </div>

  <div class="layout-3col__col-3">
    <div class="progress-linear {{modifier_class}} progress-linear-89">
      <div class="overlay">89%</div>
    </div>
  </div>

</div>
