// Progress Meters
//
// Progress meters can be used to visually display the percentage a task is
// complete using basic styles.
//
// Default styling uses `color(brand-highlight)`.
//
// Style guide: ui-components.progress

// Default colours.
$progress-default: color(brand-highlight);
$progress-default-bg: #e5e5e5;
$progress-overlay: color(text-bg);
