// Radial Progress
//
// A radial progress meter can be used to visually display the percentage a
// task is complete and includes a numeral in the center of the circle.
//
// The HTML is made up of two nested `<div>` elements, one inside the other.
// There is `.progress-radial` available to be applied to the outer `<div>`
// and `.overlay` applied to the inner `<div>` for the cutout and numeral.
// To apply a specific percentage, apply `.progress-radial-{percentage-integer}`
// to the outer `<div>`.
//
// .progress-radial--bold - Bold version with thicker lines
// .progress-radial--primary - Primary brand colour
// .progress-radial--success - Success colour
// .progress-radial--warning - Warning colour
// .progress-radial--danger - Danger colour
//
// Markup: _progress-radial.twig
//
// Style guide: ui-components.progress.radial

.progress-radial,
%progress-radial {
  display: block;
  margin: 0 auto 10px;
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  border: 2px solid $progress-overlay;

  // Optional circle with text
  .overlay {
    display: block;
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: $progress-overlay;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 6px;
    text-align: center;
    line-height: 88px;
    font-size: 28px;

    a & {
      color: color(text);
    }
  }

  &--bold {
    width: 106px;
    height: 106px;

    .overlay {
      font-weight: bold;
      width: 86px;
      height: 86px;
      margin-left: 8px;
      margin-top: 8px;
      line-height: 86px;
    }
  }
}

// Function to create radial background with different colours.
@function generate-radial-bg($radial-bar, $radial-bar-bg, $increment, $index: 100) {
  @if $index == 0 {
    @return linear-gradient(90deg, $radial-bar-bg 50%, transparent 50%, transparent),
      linear-gradient((90deg + round($increment * $index)), $radial-bar 50%, $radial-bar-bg 50%, $radial-bar-bg);
  }
  @if $index < 50 {
    @return linear-gradient(90deg, $radial-bar-bg 50%, transparent 50%, transparent),
      linear-gradient((90deg + round($increment * $index)), $radial-bar 50%, $radial-bar-bg 51%, $radial-bar-bg);
  }
  @else {
    @return linear-gradient((-90deg + round($increment * ($index - 50))), $radial-bar 50%, transparent 50%, transparent),
      linear-gradient(270deg, $radial-bar 50%, $radial-bar-bg 51%, $radial-bar-bg);
  }
}

// Create progress increments.
$n: 100;
$increment: 360 / $n;

@for $i from 0 through $n {
  .progress-radial-#{$i} {
    background-image: generate-radial-bg($progress-default, $progress-default-bg, $increment, $i);

    &.progress-radial--primary {
      background-image: generate-radial-bg(color(brand-primary), $progress-default-bg, $increment, $i);
    }

    &.progress-radial--success {
      background-image: generate-radial-bg(color(indicator-success), $progress-default-bg, $increment, $i);
    }

    &.progress-radial--warning {
      background-image: generate-radial-bg(color(indicator-warning), $progress-default-bg, $increment, $i);
    }

    &.progress-radial--danger {
      background-image: generate-radial-bg(color(indicator-danger), $progress-default-bg, $increment, $i);
    }
  }
}
