<div class="layout-3col">

  <div class="layout-3col__col-1">
    <h3 style="text-align:center;">Numeral: 66 of 200</h3>
    <div class="progress-radial {{modifier_class}} progress-radial-33">
      <div class="overlay">66</div>
    </div>
  </div>

  <div class="layout-3col__col-2">
    <h3 style="text-align:center;">Numeral: 100 of 200</h3>
    <div class="progress-radial {{modifier_class}} progress-radial-50">
      <div class="overlay">100</div>
    </div>
  </div>

  <div class="layout-3col__col-3">
    <h3 style="text-align:center;">Percentage</h3>
    <div class="progress-radial {{modifier_class}} progress-radial-89">
      <div class="overlay">89%</div>
    </div>
  </div>

</div>
