// Linear Progress
//
// Linear format progress meter.
//
// A linear progress meter can be used to visually display the percentage a
// task is complete in a traditional horizontal bar chart, with a numeral or
// percentage displayed above the bar.
//
// The HTML is made up of two nested `<div>` elements, one inside the other.
// There is `.progress-linear` available to be applied to the outer `<div>`
// and `.overlay` applied to the inner `<div>` to display the number above.
// To apply a specific percentage, apply `.progress-linear-{percentage-integer}`
// to the outer `<div>`.
//
// .progress-linear--bold - Bold version with thicker lines
// .progress-linear--nested - Nested version, where values displayed in meters
// .progress-linear--primary - Primary brand colour
//
// Markup: _progress-linear.twig
//
// Style guide: ui-components.progress.linear

.progress-linear,
%progress-linear {
  margin: 32px auto 10px;
  position: relative;
  width: 100%;
  height: 16px;
  line-height: 16px;
  background-color: $progress-default-bg;

  // Optional text value in matching colour.
  .overlay {
    position: absolute;
    text-align: left;
    font-size: 20px;
    line-height: normal;
    top: -32px;
  }

  &--bold {
    height: 18px;
    line-height: 18px;

    .overlay {
      font-weight: bold;
    }
  }

  &--nested {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 18px;
    background-color: color(border);

    .overlay {
      @include font-size(s);
      color: $progress-overlay;
      line-height: 18px;
      margin-left: 5px;
      top: 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    }
  }

  &--primary {
    .overlay {
      color: color(brand-primary);
    }
  }
}

// Function to create linear background with different colours.
@function generate-linear-bg($linear-bar, $index) {
  $neg: (100 - $index) / 100;
  @return linear-gradient(90deg, $linear-bar percentage($index / 100), transparent percentage(0), transparent percentage($neg));
}

// Create progress increments.
@for $i from 0 through 100 {
  .progress-linear-#{$i} {
    background-image: generate-linear-bg($progress-default, $i);

    &.progress-linear--primary,
    &.progress-linear--nested {
      background-image: generate-linear-bg(color(brand-primary), $i);
    }
  }
}
