// Accordion
//
// Content displayed in a collapsible accordion using jQuery UI Accordion.
//
// Markup: accordion.twig
//
// Style guide: components.accordion

.ui-accordion {
  &.ui-widget {
    @include typeset(body);
    @include typeface(body);
  }

  // Reset all border radii.
  [class*='ui-corner-'] {
    border-radius: 0;
  }

  .ui-state-active {
    background-color: transparent;
  }

  .ui-accordion-icons {
    padding-left: 2em;
  }

  .ui-widget-content {
    border: 0;
    border-bottom: 1px solid color(border);
    color: color(text);
    background-image: none;
    background-color: transparent;
    padding: 0 0 1em;

    @media print {
      border-bottom: 0;
      display: block !important;
      padding-bottom: 0;
    }

    a {
      color: color(link);

      &:visited {
        color: color(link-visited);
      }

      &:hover {
        color: color(link-hover);
      }
    }
  }

  .ui-accordion-header {
    @extend .glyphicon-chevron-down;
    @include typeset(heading-3);
    border: 0;
    border-bottom: 1px solid color(border);
    background-image: none;
    background-color: transparent;
    color: color(link);
    margin: 0;
    padding: .75em 0;
    transition: color ease-in-out 100ms, border-color ease-in-out 100ms;

    &::before {
      @include glyphicon();
      float: right;
    }

    &:active,
    &:focus {
      color: color(link);
      border-color: color(border);
      transition: color ease-in-out 100ms, border-color ease-in-out 100ms;
    }

    &:hover {
      color: color(link-hover);
      border-color: color(link-hover);
      transition: color ease-in-out 100ms, border-color ease-in-out 100ms;
    }

    &.ui-state-active {
      @extend .glyphicon-chevron-up;
      border-bottom: 0;
    }

    @media print {
      border-bottom: 0;
      color: color(text);
      margin: 20px 0 5px;
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  .ui-state-default a {
    &:link,
    &:visited {
      color: color(link);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: color(link-hover);
        text-decoration: none;
      }
    }
  }
}

html:not(.js) .ui-accordion .views-row {
  padding-bottom: 1em;
  border-bottom: 1px solid color(border);
  margin-bottom: 2em;
  box-shadow: none;

  .views-field-title-field {
    @include typeset(heading-3);
  }
}
