<div class="ui-accordion">
  <h3 class="ui-accordion-header">{{title}}</h3>
  <div class="ui-accordion-content ui-widget-content" style="display:none;">{{content}}</div>
</div>
<div class="ui-accordion">
  <h3 class="ui-accordion-header ui-state-active">{{title}}</h3>
  <div class="ui-accordion-content ui-widget-content">{{content}}</div>
</div>
<div class="ui-accordion">
  <h3 class="ui-accordion-header">{{title}}</h3>
  <div class="ui-accordion-content ui-widget-content" style="display:none;">{{content}}</div>
</div>
