/* News Articles styles */

.view-news {
  .views-row {
    border-bottom: 1px solid color(border);
    overflow: hidden;
    padding: 14px 0;

    .views-field-field-link {
      padding-bottom: 20px;
    }

    .views-field-field-slider-image {
      float: left;
      padding: 0 20px 10px 0;
    }

    h3 {
      line-height: 1.3em;
      display: inline;

      a {
        color: color(link);
        font-weight: normal;

        &:hover img {
          border: 0;
        }
      }
    }
  }
  .view-footer {
    padding-top: 10px;

    .button {
      float: right;
      margin-right: 0;
    }

    .button.grey {
      float: left;
      background-color: color('grey');

      &:hover  {
        background-color: color('grey-dark');
      }
    }
  }
}

.readmore {
  float: right;
}
