// @TODO Document this component.

.item-list .facetapi-limit-link {
  @extend .glyphicon-chevron-down;
  display: block;
  text-align: center;
  background-color: transparent;
  color: color(link);
  border-top: 1px solid color(border);
  margin: 10px 0 0;
  padding: 6px 44px 6px 24px;
  text-decoration: none;
  transition: color ease-in-out 100ms, background-color ease-in-out 100ms;

  &:hover {
    color: color(button);
    background-color: color(button-hover);
    transition: color ease-in-out 100ms, background-color ease-in-out 100ms;
  }

  &::before {
    @include glyphicon();
    margin-right: 4px;
  }

  &.open {
    @extend .glyphicon-chevron-up;
  }
}

aside ul {
  &.facetapi-facetapi-links li {
    @extend %list-style--menu-item;

    &.collapsed {
      @extend %list-style--menu-item--collapsed;
    }

    &.expanded {
      @extend %list-style--menu-item--expanded;
    }

    a {
      &.facetapi-active {
        @extend %list-style--menu-item--active;

        &::after {
          content: '\e088';
          font-size: 16px;
          font-family: 'Glyphicons Halflings';
          line-height: 20px;
          margin-left: -$base-font-size - 3;
          margin-top: -9px;
          position: absolute;
          right: 10px;
          text-align: right;
          top: 50%;
          width: 30px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &:hover::after {
          color: color(button-close);
        }
      }

      .facet-count {
        font-size: 11px;
        position: absolute;
        width: 30px;
        top: 50%;
        right: 10px;
        margin-top: -9px;
        line-height: 20px;
        text-align: right;
      }
    }
  }
}

// FacetAPI Progress Meter styles.
// Makes blocks around the progress meter and gives them a button effect, to
// visually indicate they can be chosen and when they are active.
//
// @TODO Move this out to its own component.
// @TODO Right now it's specific to progress-radial. Make it generic for radial
// or linear progress meters. Requires an update to the facetapi_progress_meter
// module to include settings.
ul.facetapi-facetapi-progress-meter {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;

  // Mobile devices default to two column, stacked.
  li {
    list-style-type: none;
    text-align: center;
    width: 50%;

    // Structural definition for tablet/desktop devices.
    @include respond-to(m) {
      &:first-child:nth-last-child(1) {
        width: 100%;
      }

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ li {
        width: 50%;
      }

      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ li {
        width: 33.3333%;
      }

      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ li {
        width: 25%;
      }
    }

    // Initially, set the basic styling for both <a> and <span> since spans will
    // be output when the result set is zero.
    // Width is based on the current progress meter bold width, plus padding.
    a,
    span.facetapi-link {
      display: block;
      font-weight: bold;
      height: 100%;
      margin: 0 auto;
      padding: 10px;
      width: 126px;
    }

    a {
      border-radius: 5px;
      position: relative;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        background-color: color(button-hover);
        color: color(button);

        .overlay {
          color: color(button-hover);
        }
      }

      &.facetapi-active {
        @extend .glyphicon-remove-circle;
        background-color: color(button-active);
        color: color(button);
        font-weight: bold;

        &::before {
          @include glyphicon();
          position: absolute;
          font-size: 1.125em;
          right: 4px;
          top: 5px;
        }

        &:hover {
          &::before {
            color: color(button-close);
          }
        }

        .overlay {
          color: color(button-active);
        }
      }
    }
  }
}
