/* Primary Menu
 *
 * This still needs work. Need to move main nav bar element into nav bar component,
 * Maybe find somewhere else for section and menu path services
 */

#navigation {
  @extend %print-none;
  background: color(text-bg);
  border: 0;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  border-bottom: 6px solid color(brand-highlight);
  z-index: 500;
}

.region-navigation {
  height: 50px;
  padding: 0;

  .block,
  .menu-block-wrapper {
    margin-bottom: 0;
    z-index: 500;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: color(button);
        }
      }
    }

    // Main navigation bar element
    > ul > li {
      > a {
        padding: 0 20px;
        display: block;
        line-height: 50px;
        float: left;
        color: color(button);
        font-weight: normal;
        font-size: 16px;
      }

      // Set active color on nav bar
      &.active a,
      a.active,
      &.active-trail a.active,
      &.active-trail > a,
      &.menu-path-front > a.active {
        background-color: color(button-active);
        color: color(button);
      }

      // Set hover color on nav bar
      > a:hover,
      > a:focus,
      &.over > a,
      &.sfHover > a,
      &.active-trail.sfHover > a {
        background-color: color(button-hover);
        color: color(button)
      }
    }

    > ul {
      z-index: 500;

      ul {
        z-index: 500;
        border-width: 0 1px 1px;
        padding: 10px 0;
        border-radius: 0;
        background-color: color(text-bg);
        border-top: 3px solid color(button-hover);
        box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

        .lt-ie9 & {
          border: 1px solid color(border);
        }

        li {
          background: none;
          list-style-type: none;
          list-style-position: outside;
          a {
            background: none;
            color: color(button-bg);
            font-weight: normal;
            padding: 0.5em 1em;
            line-height: 1.4em;
            &:hover,
            &:focus {
              background: color(button-hover);
              color: color(button);
            }
          }
        }


      }
    }
  }

  .section-services & .menu-path-services > a {
    background-color: color(button-active);
    color: color(button);
  }
}

/* Secondary menu styles
 *The following markup is expected (where 'active' can be applied to any <li> element.
 *<section class='secondary-menu'><ul><li><span class='caret open'/><ul><li class='active'/></ul></li></ul></section> */
#main {
  .node {
    max-width: 620px;

    @media print {
      max-width: none;
    }
  }

  .page__title {
    max-width: 620px;
  }
}
