/* Top bar styles */

#top-wrapper {
  @extend %print-none;
  background: color(alternate-bg);
  border: 0;
  height: 34px;
  margin-bottom: 0;
  z-index: 500;
}

#top-nav {
  position: relative;

  .block {
    margin-bottom: 0;

    > ul {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        float: left;
        margin: 0;
        padding: 0;

        a {
          padding: 0 15px;
          color: color(text);
          line-height: 34px;
          font-size: 12px;
          text-decoration: none;

          &:hover {
            color: color(text);
            text-decoration: underline;
          }
        }

        &.first,
        &:first-child {
          a:not(.language-link) {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.region-top {
  float: left;
  height: 32px;
  margin-bottom: 0;
}
