// Publications
.view-publications,
.view-resources {

  > .view-content {

    > .views-row {
      margin: 1em 0;
      padding-bottom: 1em;
      border-bottom: 1px solid lighten(color(border), 17%);
    }
  }
}

.extension {
  white-space: nowrap;
}

.view-publication-fields,
.view-resource-fields {
  h3 {
    padding-bottom: .75em;
  }
}

.ds-2col-stacked-fluid {

  > .group-left {
    width: 70%;
  }

  > .group-right {
    width: 30%;

    img {
      margin-left: 10px;
      float: right;
      border: 1px solid color(border);
    }

    a:hover img {
      border: 1px solid color(link-hover);
    }
  }
}
