.region-top-search {
  padding: 0;
  position: absolute;
  right: 10px;
}

.region-top-search,
.region-mobile-search {
  .block__title {
    display: none;
  }

  .gnwt-sd2-search-submit {
    margin: 0;
    padding: 0;
  }

  .form-item-search-keys input {
    font-size: .8em;
  }

  .form-text {
    width: 100%;
    height: 34px;
    margin: 0;
    background-color: color(text-bg);
    border-color: color(alternate-bg);
    border-style: solid;
    border-width: 0 0 1px;
    vertical-align: top;
  }

  .form-submit {
    margin: 0;
    height: 34px;
    padding-top: 6px;

    &::before {
      content: 'Search';
      position: relative;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .i18n-fr &::before {
      content: 'Recherche';
    }
  }

  .form-item {
    margin: 0;
    display: block;
    width: 180px;
    float: left;
  }

  .form-actions {
    display: block;
    float: left;
  }

  form {
    border: 0;
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.region-mobile-search {
  form > div,
  form > div > div.container-inline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: left;
    text-align: left;

    .form-item-search-keys,
    .form-item-search-block-form {
      flex: 1;
    }

    input.form-submit {
      padding-left: 12px;
      padding-right: 12px;
      background-color: color(button-active);
    }
  }

  .form-item-search-keys input {
    border-width: 1px;

    &:focus {
      border-color: color(button-active);
      box-shadow: 0 0 8px rgba(255,255,255,.6);
    }
  }
}

html.js {
  .region-top-search,
  .region-mobile-search {
    input.form-autocomplete {
      background-image: url('/sites/all/themes/gnwt_base_theme/images/throbber2.gif');
      background-position: 98% 10px;
      background-repeat: no-repeat;
    }

    input.throbbing {
      background-position: 98% -77px;
    }
  }
}
