// Status
//
// A *Status* is an indicator block, typically with a single line of text within
// it. It can be used to identify the current state of an item, such as
// completed, success, delayed, failure, etc.
//
// .status--primary - Primary/completed status
// .status--success - Success/on-track status
// .status--warning - Warning/delayed status
// .status--danger - Danger/not-being-pursued status
//
// Markup: status.twig
//
// Style guide: components.status


.status,
%status {
  display: inline-block;
  font-weight: bold;
  padding-left: 20px;
  position: relative;

  &::before {
    background-color: color(text);
    border: 1px solid color(text);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 12px;
  }

  &--primary {
    &::before {
      background-color: color(brand-primary);
      border-color: darken(color(brand-primary), 15%);
    }
  }

  &--success {
    &::before {
      background-color: color(indicator-success);
      border-color: darken(color(indicator-success), 15%);
    }
  }

  &--warning {
    &::before {
      background-color: color(indicator-warning);
      border-color: darken(color(indicator-warning), 15%);
    }
  }

  &--danger {
    &::before {
      background-color: color(indicator-danger);
      border-color: darken(color(indicator-danger), 15%);
    }
  }
}
