// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to
// download a resource.
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
//
// :visited - A link that has already been visited.
// :hover   - A link that is being hovered over.
// :focus   - A link that has been given keyboard focus.
// :active  - A link that is being actively clicked.
//
// Markup: links-a.twig
//
// Style guide: base.link

a,
%link {
  color: color(link);
  text-decoration: none;
  text-decoration-skip: ink;
  // Remove gaps in links underline in iOS 8+ and Safari 8+.
  -webkit-text-decoration-skip: objects;
}

// Links within text should use the default web convention of underline by default,
// rather then our main style of underlining on hover. Links should also wrap
// when longer than the parent.
.node,
p {
  a {
    text-decoration: underline;
    overflow-wrap: break-word;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

// Any element can receive focus, but only links can be visited, so we can
// safely lower this selector's specificity. This also ensures visited links
// with additional styles won't have their styles overridden.

// By default, links should stay blue after visiting, however we will later
// override this for most text within the site. Just header elements, titles,
// etc will retain the original link color.
:visited {
  color: color(link);
}

a:hover,
a:focus {
  text-decoration: underline;
  color: color(link-hover);
}

a:active {
  color: color(link-active);

  &:not(.button) {
    // Remove the gray background on active links in IE 10.
    background-color: transparent;
  }
}

.node .field,
.view .view-content p {
  a:visited {
    color: color(link-visited);
    text-decoration: none;
  }
}

// Image links
a img {
  border: 0;
}

a:hover img {
  border: 1px solid color(link-hover);
}

.node a:hover img {
  border: 0;
}

// Remove the outline on focused links when they are also active or hovered
// in all browsers (opinionated).
a:active,
a:hover {
  outline-width: 0;
}

@media print {
  // Underline all links.
  :link,
  :visited {
    text-decoration: underline;
  }

  // Add visible URL after links.
  a[href]:after {
    content: ' (' attr(href) ')';
    font-weight: normal;
    font-size: $base-font-size;
    text-decoration: none;
  }

  // Only display useful links.
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}
