// Dependencies.
@import 'components/visually-hidden/visually-hidden';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
//
// Markup: breadcrumb.twig
//
// Style guide: navigation.breadcrumb

.breadcrumb,
%breadcrumb {
  @extend %print-none;

  &__title {
    @extend %visually-hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

  // #breadcrumbs {
  //   .region-breadcrumbs {
  //     margin: 0;

  //     #block-gnwt-readspeaker-gnwt-readspeaker {
  //       float: right;
  //       margin: 0;

  //       .rsbtn {
  //         margin: 0;
  //       }
  //     }
  //   }
  // }

/* GNWT Breadcrumbs */

#breadcrumbs {
  background: color(alternate-bg);
  color: color(text);
  font-size: 12px;
  line-height: 24px;
}

.breadcrumb {
  list-style: none outside none;

  ol {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
  }

  a,
  a:visited {
    text-decoration: none;
    color: color(text);
  }

  a:hover,
  a:focus {
    color: color(text);
    text-decoration: underline;
  }
}
