/* Footer styles
 * Unsure about whether sponsors should stay in this file.
 */

#footer {
  @extend %print-none;
  border-top: 6px solid color(brand-highlight);

  .region-footer {
    min-height: 130px;

    .block-menu h2.block__title {
      display: none;
    }
  }

  a:visited {
    color: color(footer-text);
  }

  .block {
    float: left;
    width: 90%;

    > ul > li {
      a {
        color: color(footer-text);
        font-size: 16px;
        text-decoration: none;
        padding: 0 20px;

        &:hover {
          color: color(footer-text-hover);
          text-decoration: underline;
        }
      }

      &.first a,
      &:first-child a {
        padding-left: 0;
      }

      &.last a,
      &:last-child a {
        padding-right: 0;
      }
    }
  }

  .footer-container {
    padding: 20px 10px;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.footer-wordmark {
  height: 100px;
}

@media all and (min-width: 960px) {
  body {
    background-image: url('/sites/all/themes/gnwt_base_theme/images/footer-curve.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  body.cke_editable {
    background-image: none;
  }
}

.sponsors {
  float: right;
  margin-top: 30px;
  padding-bottom: 80px;

  ul li {
    display: inline;
    list-style: none outside none;
    margin-left: 30px;
  }

  img:hover {
    opacity: .6;
    filter: alpha(opacity = 60);
  }
}
