// List styles
//
// Style guide: components.list-style

// List style menu item
//
// Styles used for menu items in lists, especially in asides.
//
// Used primarily for sidebar navigation, this makes an anchor tag within the
// styled list item a clickable block and matches
// `%list-style--menu-item--collapsed` and `%list-style--menu-item--expanded`
// to proper glyphicons.
//
// **NOTE:** A `<div>` tag can be added as a wrapper for the anchor tag by some
// modules, namely `facetapi_collapsible`. We accommodate for that possibility
// with the addtional `> div` code in this component to ensure bullet glyphs
// are properly rendered.
//
// Markup: list-styles--menu-item.twig
//
// Style guide: components.list-style.menu-item

$item-padding: 10px;

li.list-style,
%list-style {

  // Menu Items: Used primarily in sidebar navigation.
  &--menu-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;

    a {
      display: block;
      position: relative;
      color: color(button-bg);
      text-decoration: none;
      padding: 6px ($item-padding + 30px) 6px ($item-padding + $base-font-size);

      &:hover,
      &:focus {
        background-color: color(button-hover);
        color: color(button);
        text-decoration: none;
      }

      &%list-style--menu-item--active,
      &.active,
      &.active:hover {
        background-color: color(button-active);
        color: color(button);
        text-decoration: none;
      }
    }

    &,
    > div {
      > a::before {
        content: '•';
        display: inline-block;
        font-size: $base-font-size * 1.5;
        font-style: normal;
        font-weight: normal;
        margin-left: -$base-font-size;
        position: absolute;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &--collapsed,
    &--expanded {
      &,
      > div {
        > a::before {
          font-size: 11px;
          margin-left: -$base-font-size - 1;
          font-family: 'Glyphicons Halflings';
        }
      }
    }

    &--collapsed {
      &,
      > div {
        > a {
          @extend .glyphicon-triangle-right;
        }
      }

      ul {
        display: none;
      }
    }

    &--expanded {
      &,
      > div {
        > a {
          @extend .glyphicon-triangle-bottom;
        }
      }
    }

    // Child levels, starting at first child
    // <ul.menu><li><ul><li>This is first child level</li></ul>
    ul > li {
      a {
        // Pad the text within the element
        padding-left: ($item-padding + $base-font-size * 2);
      }

      // Second child
      ul > li {
        a {
          padding-left: ($item-padding + $base-font-size * 3);
        }

        // Third child
        ul > li {
          a {
            padding-left: ($item-padding + $base-font-size * 4);
          }

          // Fourth child (that's a bit excessive)
          ul > li a {
            padding-left: ($item-padding + $base-font-size * 5);
          }
        }
      }
    }
  }
}
