<ul style="padding:0; margin:0;">
  <li class="list-style--menu-item"><a href="#">Menu Item</a></li>
  <li class="list-style--menu-item list-style--menu-item--collapsed"><a href="#">Menu Item Collapsed</a>
  <ul style="padding:0; margin:0;">
    <li class="list-style--menu-item"><a href="#">Sub-menu Item 1</a></li>
    <li class="list-style--menu-item"><a href="#">Sub-menu Item 2</a></li>
    <li class="list-style--menu-item"><a href="#">Sub-menu Item 3</a></li>
  </ul>
  </li>
  <li class="list-style--menu-item list-style--menu-item--expanded"><a href="#">Menu Item Expanded</a>
  <ul style="padding:0; margin:0;">
    <li class="list-style--menu-item"><a href="#">Sub-menu Item 1</a></li>
    <li class="list-style--menu-item"><a href="#">Sub-menu Item 2</a></li>
    <li class="list-style--menu-item"><a href="#">Sub-menu Item 3</a></li>
  </ul>
  </li>
</ul>
