// Content Below Title - this area is good for exposed block filters

.region-content-below-title {
  background-color: color(alternate-bg);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid color(border);
  p {
    color: darken(color(text), 7%);
  }

  .block,
  .block p:last-child {
    margin-bottom: 0;
  }

  .views-exposed-widgets {
    align-items: left;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;

    .views-widget-filter-search_api_views_fulltext {
      order: 1;
      min-width: 50%;

      @media all and (min-width: 460px) {
        flex: 1;
      }
      @media all and (max-width: 459px) {
        width: 100%;
      }

      input {
        width: 100%;
      }
    }

    .views-widget-sort-by,
    .views-widget-sort-order {
      padding-top: 5px;
    }

    .views-submit-button,
    .views-reset-button {
      input.form-submit {
        line-height: 22px;
        margin-right: 0;
      }
    }

    .views-submit-button { order: 2; }
    .views-reset-button { order: 3; }
    .views-widget-sort-by { order: 4; }
    .views-widget-sort-order { order: 5; }
  }
}

.views-exposed-form .views-exposed-widget {
  padding: 0 10px 0 0;
}

.menu span.ext,
.breadcrumb span.ext {
  display: none;
}
.tabs a:visited {
  color: color(text);
}
