// sass-lint:disable no-vendor-prefixes

// Use the saner border-box model for all elements.
* {
  box-sizing: border-box;
}

html {
  @include define-type-sizing();
  // Change the default font family in all browsers (opinionated).
  @include typeface(body);
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  // On short pages, we want any background gradients to fill the entire height
  // of the browser.
  min-height: 100%;
}

body {
  // Output a horizontal grid to help with debugging typography. The
  // $typey-debug variable will toggle its output.
  @include typey-debug-grid();
  // Remove default margin and padding.
  margin: 0;
  padding: 0;
  color: color(text);
  background-color: color(text-bg);
  // The addition of js/any-resize-event.js to the theme to accommodate footer
  // curve position adds position:relative; to the body tag. Explicitly define
  // it here so it's the default.
  position: relative;
}

#page {
  background: color(text-bg);
  min-width: 960px;
}

@page {
  margin: 10mm;
}

@media print {
  body,
  body.html,
  .layout-wrapper {
    background-color: #ffffff !important;
  }

  #page,
  html body.admin-menu {
    margin-top: 0 !important;
  }

  #page {
    min-width: 0;
  }
}

#header .container,
#breadcrumbs,
.view-home-slider,
.highlights,
.main {
  overflow: hidden;
}

#header .container,
#breadcrumbs,
.main,
.clear {
  clear: both;
}
#header {
  background-color: color(white);
}
