/**
 * Image left/right align classes
 */

.image-left {
  float: left;
  padding: 0;
  margin: 0 10px 10px 0;
}

.image-right {
  float: right;
  padding: 0;
  margin: 0 0 10px 10px;
}

img.file-icon {
  margin-bottom: 0;
}