// Images styles
.file-image .field-name-field-description {
  text-align: center;
  font-size: 12px;
  line-height: 13px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: color(text-bg);
}

.file-medium-with-popup-float-left,
.file-medium-float-left,
.file-thumbnail-with-popup-float-left {
  margin: 0 10px 10px 0;
  width: 155px;
  vertical-align: bottom;

  img {
    margin: 0;
    vertical-align: bottom;
  }
}

.file-medium-with-popup-float-left,
.file-medium-float-left,
.media-medium_float_left {
  width: 310px;
}

.media-large_horizontal {
  max-width: 620px;
  width: 100%;
}

.media-large_vertical {
  max-width: 350px;
  width: 100%;
}
.cke_widget_inline.cke_widget_wrapper_media-element {
  display: block;
}
.cke_widget_wrapper_file-medium-with-popup-float-left,
.cke_widget_wrapper_file-medium-float-left {
  width: 310px;
}
.cke_widget_wrapper_file-thumbnail-with-popup-float-left {
  width: 155px;
}
.cke_widget_wrapper_file-large-horizontal {
  width: 620px;
}
.cke_widget_wrapper_file-large-vertical {
  max-width: 620px;
}
.cke_widget_wrapper_media-element.cke_widget_wrapper_media-wysiwyg-align-center {
  margin: 0 auto;
}
.cke_widget_wrapper_media-element.cke_widget_wrapper_media-wysiwyg-align-left {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.cke_widget_wrapper_media-element.cke_widget_wrapper_media-wysiwyg-align-right {
  display: inline-block;
  float: right;
  margin-left: 20px;
}
