// Dependencies.
@import 'components/clearfix/clearfix';

// Tabs
//
// The primary and secondary tabs.
//
// Markup: tabs.twig
//
// .tabs--secondary - Secondary tabs
//
// Style guide: navigation.tabs

// Tabs (stacked)
//
// When the secondary tabs appear directly after the primary tabs, the styling
// is slightly different.
//
// Markup: tabs--stacked.twig
//
// Style guide: navigation.tabs.stacked
.tabs,
%tabs {
  @extend %clearfix;
  @extend %print-none;

  // The line height of a tab.
  $tab-height: 1.25;

  @include margin(0 0 (2 - $tab-height));
  margin-top: 0 !important; // Override .main-content ul
  @include line-height($tab-height);
  padding: 0;
  list-style: none;
  white-space: nowrap;

  &__tab {
    float: left;
    margin: 0 5px 5px 0;
    // Clip the background colors on tab links.
    overflow: hidden;
    background: color(tab-bg);
    @include line-height($tab-height);

    @include rtl() {
      float: right;
    }
  }

  &__tab-link {
    @include padding(0 0.75);
    display: block;
    text-decoration: none;
    border: 1px solid color(tabs-border);
    color: color(tab) !important; // Added !important to override visited link assignment
    background: color(tab-bg);

    &:focus,
    &:hover {
      color: color(tab);
      background: color(tab-bg-hover);
    }

    &:active,
    &.is-active,
    &--is-active,
    &.is-active:visited,
    &--is-active:visited {
      color: color(tab);
      background: color(tab-bg-active);
      border-color: color(tab-bg-active);
      cursor: default;
    }
  }

  // Override the text-decoration on anchor links
  li > a.tabs__tab-link {
    text-decoration: none;
  }

  // Turns off .tabs styling.
  &--off {
    @include margin(0);
    @if support-for(ie, 9) {
      border-bottom: 0;
    }
    padding: 0;
    background-image: none;
  }

  &--secondary {
    @include margin-top(1);
    @include font-size(s);
  }

  // When secondary tabs appear directly after primary tabs.
  & + &--secondary {
    @include margin-top(0);
  }

  &--secondary &__tab {
    @include rtl() {
      float: right;
    }
  }

  &--secondary &__tab-link {
    @include padding(0 0.625);
  }
}

//
// Drupal selectors.
//

// Views mis-uses the theme hooks for tabs.
.views-displays .secondary {
  @extend %tabs--off;
}
