// View service header styles

.view-service-header {
  max-width: 620px;

  .service-banner {
    position: relative;

    img {
      padding: 0;
      margin: 0;
      vertical-align: bottom;
    }

    .service-banner-overlay {
      img {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .service-banner-title {
    width: 100%;
    text-align: right;
    background-color: color(text-bg);
    border-bottom: 10px solid color(brand-highlight);
    position: relative;
    top: -1px;
    z-index: 1;
    max-width: 620px;
    margin: 0 auto;

    h1 {
      display: block;
      padding: 10px 20px;
      line-height: 1em;
      color: color(brand-primary);
      font-size: 28px;

      @include respond-to('m') {
        font-size: 36px;
      }
    }
  }
  .term-news-type {
    text-align: right;
    color: #fff;
    line-height: 20px;
    padding: 0 20px;
    font-size: 14px;
  }
  .news-community-date {
    border-bottom: 1px solid color(border);
    margin: 20px 0;
    padding-bottom: .5em;
  }
  .communique {
    background-color: color(cdn-shield-primary);
  }
  .media_advisory {
    background-color: color(yellow-gold-saturated);
  }
  .media_statement {
    background-color: color(wild-expanse-saturated);
  }
  .ministers_statements_and_speeches {
    background-color: color(aurora-primary);
  }
  .news_releases {
    background-color: color(ice-blue);
  }
  .public_service_announcement {
    background-color: color(twilight-primary);
  }
}
.view-news-page-banner .service-banner-title {
  border-bottom: none;
}
