// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

// .header,
// %header {
//   @extend %clearfix;

//   // Wrapping link for logo.
//   &__logo {
//     float: left;
//     margin: 0 10px 0 0;
//     padding: 0;

//     @include rtl() {
//       float: right;
//       margin: 0 0 0 10px;
//     }
//   }

//   // Logo image.
//   &__logo-image {
//     vertical-align: bottom;
//   }

//   // Wrapper for website name and slogan.
//   &__name-and-slogan {
//     float: left;
//   }

//   // The name of the website.
//   &__site-name {
//     @extend %h1;
//     margin: 0;
//   }

//   // The link around the name of the website.
//   &__site-link {
//     &:link,
//     &:visited {
//       color: color(text);
//       text-decoration: none;
//     }

//     &:hover,
//     &:focus {
//       text-decoration: underline;
//     }
//   }

//   // The slogan (or tagline) of a website.
//   &__site-slogan {
//     margin: 0;
//   }

//   // The secondary menu (login, etc.)
//   &__secondary-menu {
//     float: right;

//     @include rtl() {
//       float: left;
//     }
//   }

//   // Wrapper for any blocks placed in the header region.
//   &__region {
//     // Clear the logo.
//     clear: both;
//   }
// }

/* GNWT Header */

#header {
  a[href]:after {
    @media print {
      display: none;
    }
  }

  .container {
    overflow: hidden;
    background: color(text-bg);
    padding: 16px 10px 22px;
    display: table;
    width: 100%;

    @media print {
      padding-top: 0;
    }

    .header__logo {
      display: table-cell;
      vertical-align: middle;

      @media print {
        float: left;
        margin: 0 10mm 0 0;
      }

      &:hover img {
        border: 0;
      }

      img {
        float: left;
        margin-top: 6px;
      }
    }

    h1 {
      @include clearfix();
      margin-top: 16px;
      padding-bottom: 0;

      @media print {
        background-color: transparent;
        margin-bottom: 2.5mm;
        margin-left: 30mm;
      }

      a {
        color: color(text);
        margin: 0 auto;
        float: right;
        font-weight: normal;
        padding: 0 0 11px;
        text-align: right;
        max-width: 750px;
        text-decoration: none;

        @media print {
          text-align: right;
          color: color(text);
        }
      }
    }
  }
}
