 /* Main content styles
  * Main content styles apply only to the content region of the page, marked as class 'main-content'.
  * This is to prevent these styles from being inadvertently applied in the header and so on.
  */

.main-content,
.cke_editable {
  ul:not(.tabs) {
    @include margin(0.3 0 1);
  }

  p {
    line-height: 1.5;
    margin: 0 0 10px;

    // Accommodate videos input by content editors by hand.
    iframe {
      max-width: 100%;
    }
  }

  img {
    margin-bottom: 10px;

    &.file-icon {
      margin-bottom: -2px;
    }
  }

  blockquote {
    @include typeset(blockquote);
    border-left: 5px solid color(brand-highlight);
    background-color: color(grey-super-light);
    margin: 0 0 10px;
    padding: 12px 12px 12px 24px;
    color: color(text);

    p {
      @include typeset(blockquote);
    }

    footer {
      @include typeset(blockquote-footer);
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  table {
    margin: 20px auto;
    width: 100%;
    border-collapse: collapse;

    th {
      background: color(button-bg);
      border: 0;
      text-align: left;
      font-weight: normal;
      color: color(button);
    }

    thead > tr > th,
    tbody > tr > th,
    thead > tr > td,
    tbody > tr > td {
      line-height: 1.42857;
      padding: 8px;
      vertical-align: top;
    }

    // State
    thead > tr > th.active {
      a:hover,
      a.active {
        font-weight: bold;
      }
    }

    thead > tr > th {
      a {
        color: color(button);
        line-height: 22px;
      }

      img {
        margin-bottom: 0;
        padding-left: 5px;
      }

      a:hover {
        font-weight: bold;

        img {
          border: 0;
        }
      }
    }

    tbody > tr > td,
    table th {
      border: 1px solid color(border);
    }

    tr {
      background-color: color(text-bg);
    }

    tr:nth-child(even),
    tr.even {
      background-color: color(alternate-bg);
    }

    td.first,
    th.first {
      font-weight: bold;
    }
  }
}

@media print {
  .main-content {
    margin-bottom: 10mm;
    padding-bottom: 0;
  }
}
