The following text is preformatted:
<pre class="{{modifier_class}}">
(ノ゜Д゜)ノ ︵ ┻━┻
</pre>

<pre class="{{modifier_class}}">
// Here is some sample Sass code.
.sass-code-class {
  a {
    color: black;
  }

  a:hover {
    color: blue;
  }
}
</pre>
