<div class="main-content">
  <blockquote class="{{modifier_class}}">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
    erat a ante.</p>
  </blockquote>

  <blockquote class="{{modifier_class}}">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
    erat a ante.</p>
    <footer>J. Smith in <cite title="Source Title, 2nd Edition">Source
    Title</cite></footer>
  </blockquote>
</div>
