//
// !Maintenance Page
// -------------------------------------------------------------------------
body.maintenance-page {
  background-image: none;

  .maintenance-header {
    border-bottom: 10px solid color(brand-primary);
    margin-bottom: 60px;
  }
  #page {
    padding-bottom: 75px;
  }
  h1.page-header {
    padding-bottom: 0;
    margin-bottom: 0.75em;
  }

  .maintenance-msg {
    max-width: 620px;
  }

  .maintenance-footer {
    @include respond-to('xl') {
      background-image: url('/sites/all/themes/gnwt_base_theme/images/footer-curve.jpg');
      background-position: center top;
      background-repeat: no-repeat;
      padding-bottom: 250px;
    }

    .footer-container {
      min-height: 90px;
    }
  }
}
@media all and (max-width: 959px) {
  .maintenance-page {
    #page {
      margin-top: 0;
    }
    #main {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
