// Label
//
// A *Label* is used to identify text inline as being a part of a universal
// language across the site. Labels are commonly used for tags.
//
// .label--primary - Primary label
// .label--highlight - Highlight label
//
// Markup: label.twig
//
// Style guide: components.label

.label,
%label {
  background-color: color(grey-extra-light);
  border: 1px solid color(text);
  border-radius: .25em;
  color: color(text);
  display: inline;
  font-size: 75%;
  line-height: 1;
  padding: .3em .6em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  &--primary {
    border-color: color(brand-primary);
    color: color(brand-primary);
  }

  &--highlight {
    border-color: color(brand-highlight);
    color: color(brand-highlight);
  }
}

.label-list ul,
ul.label-list {
  list-style-type: none;
  padding: 0;

  li {
    @extend %label;
    margin: 0;
  }
}
