// Some of the custom sidebar styles - other styles are found in 3col-layout

aside .block {
  ul:not(.contextual-links) {
    padding: 0;
    margin: 0;

    li {
      &.menu__item,
      &.menu--item {
        @extend %list-style--menu-item;

        &.is-collapsed {
          @extend %list-style--menu-item--collapsed;
        }
        &.is-expanded {
          @extend %list-style--menu-item--expanded;
        }
      }
    }
  }

  // Accommodate custom blocks with padding.
  &.block-block {
    padding: 10px;

    .block__title {
      padding: 0 0 2px;
    }
  }

  > .view-position-contact-information,
  > .view-home-slider {
    ul {
      padding: 0;
      margin: 10px 0;
    }

    li {
      list-style-type: none;
      line-height: 1.3em;

      .field-name-field-type {
        font-weight: 600;
      }
    }
  }
}
