/*Consistent User Experience version 1.1 Stylesheet
 *Published February 14th, 2014
 *Authors: David Livingstone (Outcrop), Curtis Naphan (GNWT)
 *Description: Establishes basic styles to be used across all GNWT sites. These styles apply to elements
 *  without regard for the overall page structure.
 *
 *Dependencies:
 *-None
 *
 *Colour Table
 *Colour      Code      Typical Usage
 *---------------------------------------------------------------------
 *Dark Blue   #0F599A     Links, primary navigation, buttons
 *Bear Blue   #0190D2     Hover links, hover buttons, hover borders
 *Light Grey    #DBDBDB     Alternate background
 *Mid Grey    #BBBBBB     Borders, lines
 *Block Grey    #666666   Blockquote grey
 *Dark Grey   #3E3E3E     Footer region, headers, text, active/visited links
 *White     #FFFFFF     Background, text on nav-buttons-color, text on dark grey
 *Black     #000000     Hover colour of grey links */

/* General styles */

  #block-views-company-listings-reports-block {
    margin-top: 20px;

    h2 {
      font-size: 16px;
      font-weight: bold;
    }

    table {
      margin-top: 0;
    }
  }

/*   #breadcrumbs {
     Where is this used???
    .region-breadcrumbs {
      margin: 0;

      #block-gnwt-readspeaker-gnwt-readspeaker {
        float: right;
        margin: 0;

        .rsbtn {
          margin: 0;
        }
      }
    }
  } */

  .group-pdf {
    $zen-column-count: 2;
    $zen-gutters: 10px;

    @include zen-grid-container;

    .field-name-pdf-link,
    .field-name-pdf-read {
      a,
      a:hover,
      a:active {
        text-decoration: none;
        font-weight: bold;
        color: #3e3e3e !important;
      }
    }

    .field-name-pdf-link {
      @include zen-grid-item(1, 1);
    }

    .field-name-pdf-read {
      @include zen-grid-item(1, 2);
    }
  }
