#mobile-wrap {
  @extend %print-none;
  display: none;
}

#top-wrapper,
.region-navigation {
  display: block;

  @media print {
    display: none !important;
  }
}

@media screen and (max-width: 959px) {

  // Fix for environment indicator on test/stage/dev sites.
  .region-page-top {
    margin-bottom: -50px;

    div#environment-indicator {
      margin-top: 50px;
    }
  }

// Header area

  #header .container {
    text-align: center;
    padding: 10px 0 0;
    // The `max-width` below is a hack to allow full width on some in-between
    // devices. This should be removed once the Zen grid breakpoints are used
    // more effectively in the system.
    max-width: none;

    h1 a,
    a#logo img {
      float: none;
    }

    h1 {
      margin-top: 20px;
      background-color: color(button-bg);
      padding: 0;

      a {
        color: color(button);
        padding: 10px 20px;
        display: block;
        text-align: center;
        max-width: none;
      }
    }

    #logo {
      display: block;
      margin: 20px 0;
    }
  }

// Content area

  #page {
    min-width: 100%;
    margin-top: 50px;

    .admin-menu & {
      margin-top: 100px;
    }
  }

  #top-nav {
    display: none;
  }

  // These styles are dependant on using views slide show with specific fields.
  .region-banner .view {
    overflow: visible;
    margin: 0 auto 55px;

    .views-slideshow-controls-bottom {
      position: relative;
      bottom: 0;

      .views-slideshow-controls-text {
        right: 0;
        bottom: -43px;
        top: auto;
      }

      .views-slideshow-pager-fields {
        text-align: right;
        bottom: 10px;
        left: 0;
        left: auto;
        right: auto;
        width: auto;

        .views-slideshow-pager-field-item {
          overflow: hidden;
          border: 2px solid color(brand-highlight);

          &.cycle-pager-active {
            border: 2px solid color(brand-highlight);
          }
        }

        .views-content-counter {
          text-indent: 10000em;
        }
      }
    }
  }

  #main {
    .title,
    .node,
    .sidebars {
      max-width: 620px;
      margin: 0 auto;
    }

    .title {
      text-align: center;
    }
  }

  .region-minister {
    max-width: 322px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    min-height: 50px;
  }

  .rm-hidden {
    display: none;
  }

  #navigation {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0;

    .admin-menu & {
      top: 50px;
    }
  }


  #top-wrapper,
  .region-navigation {
    display: none;
  }

  #mobile-wrap {
    float: right;
    width: 100%;
    display: block;

    .mobile-menu-button {
      color: #fff;
      height: 40px;
      display: block;
      text-decoration: none;
      line-height: 40px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 5px 5px 0;
      font-size: 20px;
      text-align: right;
      width: 98%;
      position: fixed;
      top: 0;
      z-index: 520;

      .admin-menu & {
        top: 50px;
      }
    }

    .mobile-menu-button span {
      padding: 0 30px 0 10px;
    }

    .mobile-menu-button span.search {
      padding: 0 20px 0 10px;
    }

    #mobile-menu {
      position: absolute;
      width: 100%;
      max-width: 400px;

      //height: 100%
      top: 0;
      right: 0;
      z-index: 510;
      color: color(button); // text colour should match button text

      .inner {
        margin: 0 0 0 10px;
        top: 0;
        background-color: color(footer-bg);

        .region {
          padding: 0 20px 20px;
        }

        .region-mobile-sub,
        .region-mobile-language,
        .region-mobile-search,
        .region-mobile-main {
          background-color: color(button-bg);

          .block,
          ul {
            margin: 0;
          }
        }

        .region-mobile-search {
          padding-top: 20px;
        }
      }

      h3.title {
        cursor: pointer;
        position: fixed;

        box-shadow: #333 -2px 2px 4px;

        color: color(button);
        top: 0;
        right: 0;
        background-color: color(button-active);
        width: 93%;
        max-width: 380px;
        height: 40px;
        line-height: 40px;
        margin: 5px 0 0;
        padding: 2px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        z-index: 520;

        .admin-menu & {
          top: 50px;
        }

        .close {
          float: left;
          margin: 0 30px 0 0;
        }
      }

      a {
        // link colour should be same as button text colour
        color: color(button);
      }

      ul {
        padding: 0;
      }

      li {
        a {
          display: block;
          border-top: 1px solid color(button-active);
          padding: 5px 10px;
        }
      }

      .region-mobile-language {
        .active {
          display: none;
        }

        li {
          list-style: none;
          margin: 0;
          text-align: right;
        }

        a {
          background-color: color(footer-bg);
          border-top: 0;
          display: inline-block;
          padding: 6px 12px;
          text-align: center;
        }
      }

      div.block {
        clear: both;
      }

      .region-mobile-main {
        li {
          list-style: none;
        }
      }

      .region-mobile-bottom {
        li {
          list-style: none;
        }

        a {
          border-top: 0;
          border-bottom: 1px solid color(button-active);
        }
      }

      .region-mobile-sub {
        .block {
          background-color: color(text-bg);
          padding: 10px;

          h2 a {
            // For consistency, this should match buttons rather than link colour
            color: color(button-bg);
            text-decoration: none;
          }

          ul {
            padding: 0;
          }

          li {
            margin: 0 10px 0 25px;

            a {
              color: color(button-bg);
              text-decoration: none;
              border: 0;
              padding-left: 25px; // to indent bullet

              &:hover {
                background-color: color(alternate-bg);
              }

              &.active {
                background-color: color(button-active);
                color: color(button);
              }
            }
          }
        }
      }
    }

    li > a:hover {
      background: none;
    }

    li > a.hover {
      background-color: color(button-hover);
    }
  }

  #footer .block {
    width: 100%;

    > ul {
      width: 100%;

      li.menu__item {
        width: 49%;
        text-align: center;
        height: 50px;
        border: 2px solid lighten(color(footer-bg), 10%) !important;
        margin-bottom: 10px;
        display: table;

        &:nth-child(odd) {
          margin-right: 2%;
        }
      }

      a {
        font-size: 16px;
        padding: 0 !important;
        display: table-cell;
        vertical-align: middle;
        width: inherit;
        height: inherit;
      }
    }
  }

  .footer-wordmark {
    height: 450px;
    background: url('/sites/all/themes/gnwt_base_theme/images/footer-curve.jpg') no-repeat center 5px;
  }
}
