/*Consistent User Experience version 1.1 Stylesheet
 *Published February 14th, 2014
 *Authors: David Livingstone (Outcrop), Curtis Naphan (GNWT)
 *Description: Extends cue-basic.css to provide page layout and homepage element styles. Most styles below depend on the page being designed according to a particular structure.
 *  There are also styles for particular elements and widgets, such as the menus,#views_slideshow_cycle_div_home_slider-block_1, spotlights, etc... The styles are grouped top-to-bottom, according to the element being styled. */

/* Column styles */

// Custom padding and margin set by gnwt
.layout-3col {
  margin-top: 20px;
  padding-bottom: 20px;

  @media print {
    margin-top: 0;
  }
}

.block {
  margin-bottom: 20px;
}

.region-header-bottom {
  background: color(alternate-bg);

  @media print {
    display: none;
  }

  .block {
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
  }
}

#main-menu {
  background: color(button-bg);
  height: 50px;
  outline: none;
  z-index: 500;
}

.region-content-top .block {
  max-width: 620px;
  margin: 0 auto 20px;
}

/* Widgets
 *
 *  A highlight is a single column widget with a border, an image, a title and a short body of text.
 *  They are used for spotlights, highlights, the Minister and other uses.
 *  The following markup is expected:
 *  <section class='highlight'><div class='inner'><a><img/></a><h3><a></a></h3><p></p></div></section> */

.inside h2,
p {
  margin: 5px 0 0;
}



.front .region-content-bottom {
  margin: 0 10px;
}
