// Metric
//
// A *Metric* is effectively a block used to display some type of data point,
// such as a progress meter, small chart or value, in a consistent fashion
// across the property.
//
// Markup: metric.twig
//
// Style guide: components.metric

.metric,
%metric {
  border-top: 4px solid color(brand-highlight);
  margin-bottom: 20px;

  h2 {
    margin-top: 0;
    padding-top: 15px;
    font-weight: bold;
  }

  h3 {
    margin-top: 0;
    padding-top: 5px;
  }

  &--lead {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
  }

  &--small {
    border-top-width: 2px;

    h3 {
      @include typeset(body);
    }

    .metric--lead {
      margin-top: 7px;
    }
  }
}
