<div class="main-content">
  <table class="{{modifier_class}}">
    <caption>Optional table caption.</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Jane</td>
        <td>Doe</td>
        <td>jdoe</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jamie</td>
        <td>Morgan</td>
        <td>jmorgan</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Jacob</td>
        <td>Smith</td>
        <td>jsmith</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </tfoot>
  </table>
</div>
