.page-service-categories {
  #page {
    background-color: color(grey-super-light);
  }

  .views-widget-filter-field_service_category_tid {
    display: none;
  }

  .views-widget-filter-field_program_type_tid {
    display: none;
  }

  .views-reset-button {
    display: none;
  }

  .view-service-categories.view-display-id-block_1 {
    .view-content {
      text-align: center;
    }

    .views-row {
      display: inline-block;
    }

    .view-content {
      @include clearfix();
    }
  }

  .view-service-categories.view-display-id-page {
    .view-content {
      @include respond-to('m') {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
      }
    }

    .views-row {
      height: auto;
      margin: 0 0 20px;
      width: 100%;

      @include respond-to('m') {
        width: 50%;
      }

      a.feature-link {
        @include clearfix();
        background-color: color(white);
        border: 1px solid color(grey-light);
        color: color(text);
        display: block;
        height: 100%;
        min-height: 167px;
        padding: 20px;
        width: auto;

        @include respond-to('m') {
          margin: 0 10px;
        }

        &:hover {
          background-color: #f7faff;
          color: color(text);
          border: 2px solid #2699d5;
          padding: 19px;
          text-decoration: none;
        }

        img {
          border: 1px solid color(grey-light);
          margin-bottom: 0;
          vertical-align: bottom;
          float: left;
          margin-right: 20px;
        }

        h2,
        .description {
          margin-left: 100px;
        }

        h2 {
          margin-top: 0;
        }
      }
    }

    .view-header {
      margin-bottom: 20px;
    }
  }
}
