// Banner
//
// Currently, this is a full-width banner to be used on the homepage only. A
// future version of this component will provide banner functionality throughout
// the entire website.
//
// The optional *Overlay Graphic* can be aligned left, center or right on the
// tablet/desktop version of the site, but will always be centered on mobile.
//
// NOTE: The blue background denotes a background image and does not display
// properly on this style guide when the browser width is larger than 1700px, as
// it's expecting the container to run the full width of the browser.
//
// .overlay-align-left - Align the overlay graphic to the left edge of content
// .overlay-align-center - Align the overlay graphic in the center
// .overlay-align-right - Align the overlay graphic to the right edge of content
//
// Markup: banner.twig
//
// Style guide: components.banner

.banner,
%banner {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 20px;

  &--image {
    border-bottom: 1px solid color(border);
    height: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;

    @include respond-to(m) {
      height: 320px;
    }

    // Images are scaled and cropped in the system at 1720x320 pixels. From this
    // we use the aspect ratio of 5.375 to determine the image width at a height
    // of 240px. Our `margin-left` is then set to negative half that value so we
    // can center our image horizontally with an absolute position.
    img,
    svg {
      display: block;
      height: auto;
      position: absolute;
      max-height: 240px;
      max-width: none;
      left: 50%;
      margin-left: -645px;

      // At vertical tablet size and above, set the image to the natural size.
      @include respond-to(m) {
        margin-left: -860px;
        max-height: none;
      }

      // Since the image maxes out at 1720 pixels, set it to the container width
      // and scale the height accordingly.
      @media all and (min-width: 1721px) {
        left: auto;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  &--overlay {
    @extend %layout-center;
    @extend %layout-3col;

    height: 240px;
    margin-top: -240px;
    z-index: 1000;

    @include respond-to('m') {
      height: 320px;
      margin-top: -320px;
    }

    &.overlay-hide-mobile {
      display: none;

      @include respond-to('m') {
        display: block;
      }
    }

    .overlay-inner {
      @extend %layout-3col__full;
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      position: relative;

      img {
        display: inline-block;
      }
    }

    @include respond-to('m') {
      &.overlay-align-left .overlay-inner {
        justify-content: flex-start;
      }

      &.overlay-align-right .overlay-inner {
        justify-content: flex-end;
      }
    }
  }

  &--content-wrapper {
    @extend %layout-center;
    @extend %layout-3col;
  }

  &--content {
    @extend %layout-3col__left-content;
  }

  &--headline {
    @include typeset(heading-2);
    font-weight: bold;
  }

  &--body {
    // Force the last paragraph element to have no bottom margin, since we want
    // to control margins on parent containers.
    p:last-child {
      margin-bottom: 0;
    }
  }

  &--button {
    @extend %button;
    margin: 1em 0;
  }
}

.region-banner-full > .block {
  @extend %banner;
}
