<div class="banner">
  <div class="banner--image">
    <svg width="1720" height="320"><rect width="100%" height="100%" fill="#c4daf1"></rect></svg>
  </div>
  <div class="banner--overlay {{modifier_class}}">
    <div class="overlay-inner">
      <svg height="104" width="204"><ellipse cx="102" cy="52" rx="100" ry="50"
      style="fill:#555;stroke:#333;stroke-width:2" /></svg>
    </div>
  </div>
  <div class="banner--content-wrapper">
  <div class="banner--content">
    <h2 class="banner--headline">Here's a Headline</h2>
    <div class="banner--body">
      <p>“Here is one of the few effective keys to the design problem: the ability of the designer to recognize as many of the constraints as possible; his willingness and enthusiasm for working within these constraints.” –Charles Eames</p>
    </div>
    <a href="//localhost:3002/contact-us" class="banner--button">Call to Action</a></div>
  </div>
</div>
