// Dependencies.
@import 'components/visually-hidden/visually-hidden';

// Navbar
//
// A simple method to get navigation links to appear in one line.
//
// Markup: navbar.twig
//
// Style guide: navigation.navbar

.navbar,
%navbar {
  margin: 0;
  padding: 0;
  text-align: left;

  @include rtl() {
    text-align: right;
  }

  &__item,
  li {
    float: left;
    padding: 0 10px 0 0;
    list-style-type: none;
    list-style-image: none;

    @include rtl() {
      float: right;
      padding: 0 0 0 10px;
    }
  }
}

//
// Drupal selectors.
//

.main-navigation {
  // Hide the block titles put into the main-navigation area of the page.tpl.php.
  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %visually-hidden;
  }

  // Main menu and secondary menu links and menu block links.
  .links,
  .menu {
    @extend %navbar;
  }
}


// GNWT nice menu nav implementation
// Used on main navbar for positioning of dropdown.
ul.nice-menu-down {
  border: 0;
  li {
    li {
      border-top: 0;
    }
  }
  ul {
    left: 0;
    li {
      clear: both;
    }
  }
  li ul li ul {
    left: 12.5em;
    top: 0;
  }
}

footer,
.region-navigation,
.region-top {
  ul.nice-menu,
  ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      border: 0;
      float: left;
      margin-bottom: 0;
      a {
        padding: .3em 10px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        top: 50px;
        left: 0;
        margin-right: 0;
        li {
          width: 15em;
        }
      }
    }
  }
}

// Add ability to have drop-down style menu for non-nice-menu setups
.region-navigation {
  ul.menu {
    > li {
      position: relative;
      > ul {
        // DISABLE DROPDOWNS UNTIL BASIC JAVASCRIPT CAN BE IMPLEMENTED
        display: none;
        // END DISABLE
        position: absolute;
        li {
          a {
            display: block;
          }
          // Hide any further child menus
          ul {
            display: none;
          }
        }
      }
    }
  }
}
