// Button
//
// In addition to the default styling of `<button>` and
// `<input type="submit|image|reset|button">` elements, the `.button` class and
// its variants can apply buttons styles to various elements (like an `<a>`
// link).
//
// :hover  - Hover styling.
// :active - Depressed button styling.
//
// Markup: button.twig
//
// Style guide: forms.button

.button,
%button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  @extend %button--disabled;
  // Some styles don't apply to <a> links since they are inline elements by default.
  display: inline-block;
  padding: 6px 24px;
  // Address Firefox 4+ setting `line-height` on `input` using `!important` in
  // the UA stylesheet. And prevent its "line-height: normal" rule below from
  // breaking the "appearance: button" styling on the input elements.
  line-height: inherit;
  text-decoration: none;
  // Improve usability and consistency of cursor style between image-type `input` and others.
  cursor: pointer;
  color: color(button);
  background: color(button-bg);
  margin: 0px 10px 10px 0;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // Remove the inner border and padding in Firefox.
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  // Restore the focus styles unset by the previous rule.
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  // Force visited text colour.
  &:visited {
    color: color(button) !important;
  }

  &:hover,
  &:focus,
  &:active {
    // Override any link underlines and color changes.
    text-decoration: none;
    color: color(button);
    background-color: color(button-hover);
  }

  &.active {
    background-color: color(button-active);
  }

  .i18n-fr & {
    text-transform: unset;
  }
}

// Format to add button variants. This could be used for buttons such as
// `button--primary` or `button--highlight`.
//
.button,
%button {
  &--reset {
    color: color(button);
    background: color(grey-dark);

    &:hover,
    &:focus,
    &:active {
      color: color(button);
      background-color: darken(color(grey-dark), 15%);
    }

    &.active {
      background-color: color('grey');
    }
  }

  &--cancel {
    color: color(button);
    background: color(error);

    &:hover,
    &:focus,
    &:active {
      color: color(button);
      background-color: darken(color(error), 10%);
    }

    &.active {
      background-color: lighten(color(error), 5%);
    }
  }
}

[type='reset'],
.views-reset-button > input[type='submit'] {
  @extend %button--reset;
}

input[value^="Cancel"] {
  @extend %button--cancel;
}

// The disabled variation should always go last, so that it overrides any
// other variations.
%button--disabled[disabled] {
  // Re-set default cursor for disabled elements.
  cursor: default;
  color: color(button-disabled);

  // Force visited text colour.
  &:visited {
    color: color(button-disabled) !important;
  }

  &:hover,
  &:focus,
  &:active {
    // Override any link underlines and color changes.
    color: color(button-disabled);
  }
}

// Read more link, extra pagination and better exposed filters links require the
// button styles.
.more-link a,
.pagination > li > a,
.form-type-bef-link a {
  @extend %button;
}

// Better Exposed Filter buttons should be floated by default and parent container
// cleared.
.bef-select-as-links {
  @extend %clearfix;
}

.form-type-bef-link {
  float: left;
}
