// Headings
//
// All HTML headings, `<h1>` through `<h6>`, are available. `%h1` through `%h6`
// classes are also available, for when you want to match the font styling of a
// heading but still want your text to be displayed inline.
//
// Markup: headings-h.twig
//
// Style guide: base.headings

h1, h2, h3, h4, h5, h6 {
  @include typeface(body);
  color: color(text);
  font-weight: normal;
}

// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
h1,
%h1 {
  // Set the font-size and line-height while keeping a proper vertical rhythm.
  @include typeset(heading-1);

  // Set 1 unit of vertical rhythm on the top and bottom margins.
  //@include margin-top(1, xxl);
  @include margin(0);
  @include padding(0 0 10px);
}

h2,
%h2 {
  @include typeset(heading-2);
  @include margin(25px 0 5px);
}

h2.block__title {
  @include margin(0 0 5px);
}

h3,
%h3 {
  @include typeset(heading-3);
  @include margin(20px 0 5px);
}

h4,
%h4 {
  @include typeset(heading-4);
  @include margin(20px 0 5px);
}

h5,
%h5 {
  @include typeset(heading-5);
  @include margin(20px 0 3px);
}

h6,
%h6 {
  @include typeset(heading-6);
  @include margin(20px 0 3px);
}
