@include respond-to('xl') {
  div.region-navigation {
    display: flex;

    // First menu block or only menu block is in flex position 1.
    .first {
      flex: 1;
      order: 1;
      z-index: 500;
    }

    // My Account menu, right-aligned on desktop navigation bar.
    .last:not(.first) {
      z-index: 501;
      order: 2;

      h2.block__title {
        display: none;
      }

      & > ul > li {
        a {
          text-transform: capitalize;
        }

        // Adjust drop-down menu to be right-aligned.
        ul {
          left: auto;
          right: 0;
        }
      }
    }

    .last:not(.first) {
      & > ul > li {
        // Reset Sign In link to transparent on the user/register page.
        &.first a.active {
          .page-user-register & {
            background-color: transparent;
          }
        }
      }
    }
  }
}

// Additional User Menu adjustments.
body.logged-in .region-navigation .last:not(.first) {
  & > ul > li {
    &.menuparent > a {
      @extend .glyphicon-chevron-down;
      padding-right: 14px;

      &::before {
        @include glyphicon();
        float: right;
        line-height: 50px;
        margin: 0 0 0 6px;
      }
    }

    ul li.last:not(.first) {
      border-top: 1px solid color(border);
    }
  }
}

// User Registration adjustments.
.page-user-register,
.page-user-edit {
  fieldset {
    margin-bottom: 2em;

    legend {
      font-weight: bold;
    }
  }
}

// Login and legal pages.
.no-sidebars {
  &.page-user.not-logged-in,
  &.page-toboggan-denied.not-logged-in,
  &.page-legal {
    #inner-page > .layout-center {
      @extend %layout-restrict-body-width;
    }
  }
}
