// Collapsible fieldset
//
// Fieldsets with optional entry fields can be hidden with collapsed fieldsets.
//
// .is-collapsed - The collapsed fieldset.
// .hide-summary - Hide the summary or summary is empty.
// .is-collapsed.hide-summary - Hide the summary or is empty collapsed.
//
// Markup: collapsible-fieldset.twig
//
// Style guide: forms.collapsible-fieldset

.collapsible-fieldset,
%collapsible-fieldset {
  @extend %clearfix;
  position: relative;
  padding: 0;
  margin: 0 0 1em;
  border: 0;
  min-width: 0;

  html.js & {
    border-bottom: 1px solid color(border);
    margin-bottom: 0;
  }

  // Default legend is open. Collapsible below defines the closed state.
  &__legend {
    display: block;
    margin-bottom: .5em;

    html.js & {
      margin-bottom: 0;
    }

    a {
      @extend .glyphicon-chevron-up;
      @include typeset(heading-3);
      border: 0;
      background-image: none;
      background-color: transparent;
      color: color(link);
      display: block;
      margin: 0;
      padding: .75em 0;
      text-decoration: none;
      transition: color ease-in-out 100ms, border-color ease-in-out 100ms;

      &::before {
        @extend %print-none;
        @include glyphicon();
        float: right;
        margin-left: 10px;
      }

      &:active,
      &:focus {
        color: color(link);
        transition: color ease-in-out 100ms, border-color ease-in-out 100ms;
      }

      &:hover {
        color: color(link-hover);
        border-color: color(link-hover);
        transition: color ease-in-out 100ms, border-color ease-in-out 100ms;
      }
    }
  }

  &__summary {
    @include font-size(s);
    display: block;
    color: color(fieldset-summary);
  }

  // Add spacing to internal content container.
  &__wrapper {
    padding-bottom: 1em;
  }

  &.is-collapsed,
  &--is-collapsed {
    border-bottom-width: 0;
  }

  &.is-collapsed &__wrapper,
  &--is-collapsed__wrapper {
    display: none;
  }

  &.is-collapsed &__legend,
  &--is-collapsed__legend {
    a {
      @extend .glyphicon-chevron-down;
      border-bottom: 1px solid color(border);

      &:hover {
        border-bottom-color: color(link-hover);
      }
    }
  }

  &.hide-summary &__summary {
    display: none;
  }
}

//
// Drupal selectors.
//

.collapsible {
  @extend %collapsible-fieldset;

  .fieldset-legend {
    @extend %collapsible-fieldset__legend;

    .summary {
      @extend %collapsible-fieldset__summary;
    }
  }

  .fieldset-wrapper {
    @extend %collapsible-fieldset__wrapper;
  }

  &.collapsed {
    // Apply only when Javascript is loaded on the page.
    html.js & {
      @extend %collapsible-fieldset--is-collapsed;

      .fieldset-legend {
        @extend %collapsible-fieldset--is-collapsed__legend;
      }

      .fieldset-wrapper {
        @extend %collapsible-fieldset--is-collapsed__wrapper;
      }
    }
  }
}
