<fieldset class="collapsible-fieldset {{modifier_class}}">
  <legend>
    <span class="collapsible-fieldset__legend">
      <a href="#">A collapsible fieldset</a>
      <span class="collapsible-fieldset__summary">A summary of the form state</span>
    </span>
  </legend>
  <div class="collapsible-fieldset__wrapper">
    Place the form elements to hide inside this wrapping div.
  </div>
</fieldset>
