// sass-lint:disable indentation, no-color-keywords

// Colors
//
// Use the `color()` function to add colors to CSS properties. To learn more,
// [read the Chroma documentation](http://johnalbin.github.io/chroma/).
//
// Markup: chroma.twig
//
// Weight: -1
//
// Style guide: sass.colors

// Define a Colour Scheme for GNWT. All colour schemes added after this will
// inherit this scheme's base and can subsequently be overwritten.
$chroma: define-default-color-scheme('gnwt-core', 'Colors used by functional parts of the design.');

//
// !Basic functional colours, required by Zen starter kit
// -------------------------------------------------------------------------
$chroma: add-colors('gnwt-core', (
  black:                  #000,
  grey-dark:              ('black' lighten 40%), // #666
  'grey':                 ('black' lighten 60%), // #999
  grey-light:             ('black' lighten 80%), // #ccc
  grey-extra-light:       ('black' lighten 93.33%), // #eee
  grey-super-light:       ('black' lighten 97%), // #f7f7f7
  white:                  #fff,
  blue:                   #0072b9,
  red:                    #c00,
  yellow:                 #fd0,
));

//
// !GNWT VIP Colours
// -------------------------------------------------------------------------
// Each range contains:
// - light: VIP-approved light version of the colour
// - [base]: The base VIP colour name
// - saturated: A VIP-approved saturated version of the colour, typically bold
// - primary: The primary colour to be used for backgrounds. Min 'AA' accessible
// - dark: A dark version used for backgrounds, typically hovers. Min 'AAA' accessible
$chroma: add-colors('gnwt-core', (
  aurora-light:           #aededa,
  aurora:                 #40bfb4,
  aurora-saturated:       #009889,
  aurora-primary:         #008072,
  aurora-dark:            #00594f,

  cdn-shield-light:       #c2c4c6,
  cdn-shield:             #a7a9ac,
  cdn-shield-saturated:   #a7a9ac,
  cdn-shield-primary:     #6f7173,
  cdn-shield-dark:        #494b4d,

  ice-blue-light:         #c4daf1,
  ice-blue:               #2699d5,
  ice-blue-saturated:     #0076b6,
  ice-blue-primary:       #0f599a,
  ice-blue-dark:          #0a4273,

  twilight-light:         #e6a3c9,
  twilight:               #c75997,
  twilight-saturated:     #bc067e,
  twilight-primary:       #b35087,
  twilight-dark:          #803960,
  twilight-visited:       #8c0e55, // Separate colour to meet requirements

  yellow-gold-light:      #ffd67b,
  yellow-gold:            #febe10,
  yellow-gold-saturated:  #dba510,
  yellow-gold-primary:    #916c0a,
  yellow-gold-dark:       #664b07,

  wild-expanse-light:     #b98363,
  wild-expanse:           #a15125,
  wild-expanse-saturated: #7b2e00,
  wild-expanse-primary:   'wild-expanse',
  wild-expanse-dark:      'wild-expanse-saturated',
));

//
// !GNWT Brand Colours
// -------------------------------------------------------------------------
// Added here as they're used to define system colours later in this file.
//
// EDIT THESE COLOURS TO CHANGE BASE SITE THEME
$chroma: add-colors('gnwt-core', (
  brand-primary:          'ice-blue-primary', // Equivalent to nav bar bg
  brand-highlight:        'ice-blue',         // Active element bg
  brand-dark:             'ice-blue-dark',    // Nav bar hover bg
  brand-visited:          'twilight-visited',
  brand-secondary:        'aurora-primary',   // Secondary button bg
));


//
// !OVERRIDE CORE BRAND COLOURS HERE
// `gnwt-intranet` used as the example here to override the core brand
// colours and set the active scheme to be `gnwt-intranet`.
// -------------------------------------------------------------------------
// $chroma: define-color-scheme('gnwt-intranet', 'Colours used by a GNWT intranet site.');
// $chroma: add-colors('gnwt-intranet', (
//   brand-primary:          'aurora-primary',
//   brand-highlight:        'aurora',
//   brand-dark:             'aurora-dark',
//   brand-visited:          'twilight-visited',
//   brand-secondary:        'ice-blue-primary',
// ));
//
// $chroma-active-scheme: 'gnwt-intranet';


//
// !System Colours
// -------------------------------------------------------------------------
// Added after activating the desired scheme so they can be applied with the
// active scheme's branding.
$chroma: add-colors((
  // Colors used in the main content area.
  text:                   #3e3e3e,
  text-bg:                'white',
  body-bg:                'text-bg', // used in _form-table.scss
  alternate-bg:           #e6e6e6,

  footer-text:            'white',
  footer-text-hover:      'alternate-bg',
  footer-bg:              #3e3e3e,

  link:                   'ice-blue-primary',
  link-hover:             'ice-blue',
  link-visited:           'brand-visited',
  link-active:            'ice-blue-dark',
  link-hover-bg:          #f7faff,

  border:                 #bbb,

  autocomplete:           'text',
  autocomplete-bg:        'text-bg',
  autocomplete-select:    'white',
  autocomplete-select-bg: 'brand-primary',


  button:                 'white',
  button-bg:              'brand-primary',
  button-hover:           'brand-dark',
  button-active:          'brand-highlight',
  button-disabled:        'grey',
  button-close:           #7e0000,

  fieldset-summary:       'grey',
  form-error:             'red',

  mark-highlight:         'red',
  mark-bg:                'yellow',

  menu-active:            'text',

  preview-bg:             ('yellow' lighten 43%),

  progress-bar:           'white',
  progress-bar-bg:        'brand-primary',
  progress-bar-border:    'brand-dark',

  resizable-grippie:      'grey-extra-light',

  row-stripe:             'alternate-bg',
  row-disabled:           'grey-light',

  skip-link:              'white',
  skip-link-bg:           'grey-dark',

  status:                 'aurora-dark',
  status-bg:              ('aurora-light' lighten 20%),
  status-highlight:       text,
  warning:                'yellow-gold-dark',
  warning-bg:             ('yellow-gold-light' lighten 20%),
  warning-border:         'yellow-gold',
  error:                  'red',
  error-bg:               #f2dfde,

  tabs-border:            'brand-primary',
  tabs-bg:                transparent,
  tab:                    'white',
  tab-text-shadow:        transparent,
  tab-bg:                 'brand-primary',
  tab-bg-hover:           'brand-dark',
  tab-bg-active:          'brand-highlight',
  tab-secondary:          'white',

  table-drag:             ('yellow' lighten 43%),
  table-select:           ('yellow' lighten 47%),

  watermark:              'grey-extra-light',

  indicator-success:      #019b49,
  indicator-warning:      #e9c61d,
  indicator-danger:       #be1e2d,
));
